.login-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  color: white;
  width: 35%;
}

.login-signup form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem;
  border-radius: 1rem;
  background: var(--primary-color);
  z-index: 1;
}

.login-signup form .form-submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: white;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-family: "Overlock";
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0.5rem 0;
  margin-top: 3rem;
  cursor: pointer;
  z-index: 1;
}

.login-signup form .form-group {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.form-password {
  font-size: 1rem;
}

.login-signup form .form-group .inputfield {
  width: 100%;
}

.login-signup form .inputfield input {
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 4rem;
  border: 1px solid grey;
  padding: 0.8rem 1rem;
}

.login-signup form p.form-toggle {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 0.5rem;
}

.login-signup form p span {
  font-size: 1.3rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.login-signup form p span:hover {
  color: rgb(38, 78, 255);
}
