.login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--background-color);
    height: 72rem;
}

.login img{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    z-index: 0;
}